.presentation-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}

.presentation-view {
    width: 100%;
    height: calc(100dvh - 60px);
    overflow: hidden;
}

.presentation-page {
    width: 100%;
    height: calc(100dvh - 60px);
}

/*
.presentation-page-active {
    width: 100%;
    height: calc(100dvh - 60px);
    transform: scaleX(1);
}
*/