.presentation-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}

.presentation-view {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100dvh - 100px);

    background-color: var(--b);
    color: var(--c);

    overflow-y: scroll;
    scroll-snap-stop: always;
    scroll-snap-type: y mandatory;
}

.presentation-view::-webkit-scrollbar {
    display: flex;
}

.presentation-page {
    width: 100%;
    height: calc(100dvh - 60px);
    background-color: var(--b);
    scroll-snap-align: center;
}

.presentation-view:fullscreen .presentation-page {
    margin-top: 20px;
    height: calc(100dvh - 20px);
}