.main-header {
    position: relative;
}

.main-header p {
    width: calc(100% - 80px);
}

.main-header p a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.main-header img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}