:root {
  --b: rgb(13, 10, 27);
  --c: rgb(224, 250, 229);
  --a: dodgerblue;
}

html {
  background-color: var(--b);
  color: var(--c);
}

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

::placeholder {
  color: var(--b);
}

:focus {
  box-shadow: 0 0 10px -2px var(--a);
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--b);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--a);
  border-radius: 5px;
}

button,
input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--a);
}

ul {
  margin: 10px 20px;
}

ol {
  margin: 10px 30px;
}

a {
  color: var(--c);
}

.ml-10 {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.list {
  margin: auto;
  max-width: 400px
}

.list a {
  text-decoration: none;
}

.left-space {
  margin-left: auto;
}

.mw-35 {
  min-width: 35px;
}